<template>
  <div>
    <h3 class="index-title">Статистика</h3>
    <div class="index-top__item">
      <DataPicker></DataPicker>
      <DataPicker></DataPicker>
      <el-button size="large">Применить фильтры</el-button>
    </div>

    <div class="el-row">
      <div class="index-main__card" style="display: block; text-align: center">
        <h3>Общий оборот по заказам:</h3>
        <span>123 400 000 сум</span>
      </div>
      <div class="index-main__card">
        <div class="main-card__item">
          <h3>Общий доход:</h3>
          <span>123 400 000 сум</span>
        </div>
        <div class="main-card__item">
          <h3>Способы оплаты:</h3>
          <p>Наличные: 23 000 000</p>
          <p>PayMe: 23 000 000</p>
        </div>
        <div class="main-card__item" style="border-right: none">
          <h3>Способы оплаты:</h3>
          <p>Наличные: 23 000 000</p>
          <p>PayMe: 23 000 000</p>
        </div>
      </div>
    </div>
    <div class="index-bottom__items">
      <div class="bottom-card__item" v-for="n in 2" :key="n">
        <h3 style="text-align: center">Самый популярный партнер:</h3>
        <span>Yapona Mama</span>
        <span>345 заказа, 123 000 000 сум</span>
      </div>
    </div>
  </div>
</template>
<script setup lang="ts">
import DataPicker from "@/components/DataPicker.vue";
</script>
<style scoped>
.index-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #343740;
}
.index-top__item {
  margin-top: 20px;
  display: flex;
  align-items: end;
  gap: 20px;
}
.el-row {
  margin-top: 20px;
  display: grid;
  grid-template-columns: auto 70%;
  gap: 30px;
}
.index-main__card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}
.main-card__item {
  border-right: 1px solid rgba(158, 158, 158, 0.4);
  margin-right: 20px;
}
.index-bottom__items {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.bottom-card__item {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  margin-top: 30px;
  padding: 30px;
  align-items: center;
}
</style>
