<template>
  <div class="index">
    <h3 class="index-title">Добавить партнера</h3>
    <div>
      <el-form
        label-position="top"
        style="display: flex; gap: 30px; width: 90%"
      >
        <el-form-item style="width: 100%" label="Название">
          <el-input v-model="form.name" size="large" />
          <p>*Будет отображаться в интерфейса приложения пользователей</p>
        </el-form-item>
        <el-form-item style="width: 100%" label="Логин">
          <el-input v-model="form.login" size="large" />
        </el-form-item>
        <el-form-item style="width: 100%" label="Пароль">
          <el-input v-model="form.password" size="large" />
        </el-form-item>
      </el-form>
      <hr style="border: 1px solid rgba(158, 158, 158, 0.4); width: 90%" />
      <div style="margin-top: 25px">
        <h3 class="index-title" style="font-size: 18px">Контактные данные</h3>
        <el-form
          label-position="top"
          style="display: flex; gap: 30px; width: 50%"
        >
          <el-form-item style="width: 100%" label="Контактное лицо">
            <el-input v-model="form.contact_name" size="large" />
          </el-form-item>
          <el-form-item style="width: 100%" label="Телефон">
            <el-input v-model="form.number" placeholder="+998" size="large" />
          </el-form-item>
        </el-form>
        <hr
          style="
            border: 1px solid rgba(158, 158, 158, 0.4);
            width: 90%;
            margin: 20px 0px;
          "
        />
        <el-form
          label-position="top"
          style="display: flex; gap: 30px; width: 50%"
        >
          <el-form-item style="width: 100%" label="% от каждого заказа">
            <el-input v-model="form.partner_percent" size="large" />
          </el-form-item>
          <el-form-item
            style="width: 100%"
            label="% доставки от каждого заказа"
          >
            <el-input v-model="form.delivery_percent" size="large" />
          </el-form-item>
        </el-form>
      </div>
      <div>
        <h3 class="index-title" style="font-size: 18px">Способ доставки</h3>
        <el-radio-group v-model="form.delivery_type">
          <el-radio size="large" label="Своя доставка">Своя доставка</el-radio>
          <el-radio size="large" label="Доставка My Taxi"
            >Доставка My Taxi</el-radio
          >
        </el-radio-group>
      </div>
      <div style="width: 50%; display: flex; margin-top: 20px">
        <el-button
          @click="submitForm"
          size="large"
          style="width: 65%; background: #4581ff; color: white"
          >Добавить партнера</el-button
        >
        <el-button
          size="large"
          style="width: 35%; background: white; color: #4581ff"
          plain
          @click="router.push('/partners')"
          >Отмена</el-button
        >
      </div>
    </div>
  </div>
</template>
<script lang="ts" setup>
import { reactive, ref } from "vue";
import { useStore } from "@/stores";
import router from "@/router";
const store = useStore();
//events
const form = reactive({
  name: "",
  login: "",
  password: "",
  contact_name: "",
  number: "",
  partner_percent: "",
  delivery_percent: "",
  delivery_type: "",
});

//methods
const submitForm = () => {
  store.postAction("/vendor", form).then((res) => {
    if (res) {
      router.push("/partners");
    }
  });
};
</script>
<style scoped>
.index-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #343740;
  margin-bottom: 20px;
}
</style>
