<template>
  <div class="index">
    <div class="index-top__items">
      <h3 class="index-title">Партнеры</h3>
      <div style="display: flex; gap: 20px; align-items: center">
        <a
          href="#"
          style="display: flex; gap: 5px; text-decoration: none; color: #3d7bfe"
          >Отзывы и оценки
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C21.9939 17.5203 17.5203 21.9939 12 22ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C19.995 7.58378 16.4162 4.00496 12 4ZM12 18C10.42 18.0267 8.9266 17.28 8 16C7.55008 15.3983 7.21141 14.721 7 14H17C17 14 17 14 17 14.008C16.7853 14.7252 16.4469 15.3994 16 16C15.0733 17.2799 13.5799 18.0266 12 18ZM8.5 12C7.67157 12 7 11.3284 7 10.5C7 9.67157 7.67157 9 8.5 9C9.32843 9 10 9.67157 10 10.5C10 11.3284 9.32843 12 8.5 12ZM15.493 11.986C14.6684 11.986 14 11.3176 14 10.493C14 9.66844 14.6684 9 15.493 9C16.3176 9 16.986 9.66844 16.986 10.493C16.9849 11.3171 16.3171 11.9849 15.493 11.986Z"
              fill="#3D7BFE"
            />
          </svg>
        </a>
        <router-link style="text-decoration: none" to="/partners/create">
          <el-button
            size="large"
            style="background-color: #3d7bfe; color: white"
            ><i class="fa-solid fa-plus"></i>
            Добавить партнера
          </el-button>
        </router-link>
      </div>
    </div>
    <div style="width: 30%; margin-top: 25px">
      <SearchInput></SearchInput>
    </div>
    <div class="index-data-table">
      <!--      blocked dialog-->
      <el-dialog v-model="blockedUser" width="60%" center>
        <div
          style="
            display: flex;
            flex-direction: column;
            padding-top: 5vh;
            align-items: center;
          "
        >
          <span
            style="
              font-size: 24px;
              color: #091932;
              width: 50%;
              text-align: center;
            "
            >Заблокировать партнера и скрыть его товары из приложения?</span
          >
        </div>
        <template #footer>
          <div class="dialog-footer" style="width: 100%; margin-bottom: 10vh">
            <el-button
              size="large"
              style="width: 20%"
              @click="blockedUser = false"
              >Отмена</el-button
            >
            <el-button
              size="large"
              style="width: 20%"
              type="primary"
              @click="blockedUser = false"
            >
              Заблокировать
            </el-button>
          </div>
        </template>
      </el-dialog>
      <!--      delete dialog-->
      <el-dialog v-model="deletedDialog" width="60%" center>
        <div
          style="
            display: flex;
            flex-direction: column;
            padding-top: 5vh;
            align-items: center;
          "
        >
          <span
            style="
              font-size: 24px;
              color: #091932;
              width: 50%;
              text-align: center;
            "
            >Удалить партнера и его товары?</span
          >
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-top: 3vh;
            "
          >
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21.2654 20.998H2.7324C2.37514 20.998 2.04502 20.8074 1.86639 20.498C1.68776 20.1886 1.68777 19.8074 1.8664 19.498L11.1324 3.49799C11.3112 3.1891 11.641 2.9989 11.9979 2.9989C12.3548 2.9989 12.6846 3.1891 12.8634 3.49799L22.1294 19.498C22.3079 19.8072 22.308 20.1882 22.1297 20.4975C21.9513 20.8069 21.6215 20.9976 21.2644 20.998H21.2654ZM11.9994 5.99799L4.4684 18.998H19.5324L11.9994 5.99799ZM12.9944 14.999H10.9944V9.99799H12.9944V14.999Z"
                fill="#FF444A"
              />
              <path d="M10.9994 16H12.9994V18H10.9994V16Z" fill="#FF444A" />
            </svg>
            <p
              style="
                text-align: center;
                color: red;
                margin-top: 1vh;
                width: 70%;
              "
            >
              Все данные о товарах будут утеряны, но статистика по расчетам
              сохранится
            </p>
          </div>
        </div>
        <template #footer>
          <div class="dialog-footer" style="width: 100%; margin-bottom: 10vh">
            <el-button
              size="large"
              style="width: 20%"
              @click="deletedDialog = false"
              >Отмена</el-button
            >
            <el-button
              size="large"
              style="width: 20%"
              type="primary"
              @click="deletedDialog = false"
            >
              Удалить
            </el-button>
          </div>
        </template>
      </el-dialog>

      <el-table :data="vendorData" size="large" style="width: 100%">
        <el-table-column label="Партнер" prop="name" />
        <el-table-column label="Доставка" prop="delivery_type" />
        <el-table-column label="% партнера" prop="partner_percent" />
        <el-table-column label="% за доставку" prop="delivery_percent" />
        <el-table-column label="Действия" align="right">
          <template #header><div style="display: none"></div> </template>
          <template #default="scope">
            <el-button
              style="background-color: #00b453; color: white"
              @click="handleEdit(scope.$index, scope.row)"
              ><i class="fa-solid fa-pen-to-square"></i
            ></el-button>
            <el-button
              v-if="(isBtnActive = true)"
              @click="blockedUser = true"
              style="background: red; color: white"
            >
              <i class="fa-sharp fa-solid fa-minus"></i>
            </el-button>
            <el-button
              v-if="(isBtnActive = false)"
              style="background: #3d7bfe; color: white"
            >
              <i class="fa-solid fa-rotate-right"></i>
            </el-button>
            <el-button
              style="background-color: #d8d8d8; color: #686e7a"
              @click="handleDelete(scope.$index, scope.row)"
              ><i class="fa-regular fa-trash-can"></i
            ></el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>
  </div>
</template>
<script lang="ts" setup>
import SearchInput from "@/components/SearchInput.vue";
import {computed, onMounted, ref} from "vue";
import {useStore} from "@/stores";
import axios from "@/plugins/axios";
const store = useStore()

interface User {
  id: any;
  date: string;
  name: string;
  address: string;
}
//event
const isBtnActive = ref(true);
const blockedUser = ref(false);
const deletedDialog = ref(false);
const vendorData = ref([])

//methods
const vendor = () => {
  axios.get('/vendor').then(res => {
    vendorData.value = res.data.data
    console.log(vendorData.value, 'vendor')
  })
}
const handleEdit = (index: number, row: User) => {
  console.log(index, row);
};
const handleDelete = ( index: number, row: User) => {
  axios.get(`/delete/vendor/${row.id}`).then(() => {
    vendor()
  })
  deletedDialog.value = true;
};
//mounted
onMounted(() => {
  vendor()
})

</script>
<style scoped>
.index {
  height: 100%;
  display: grid;
  grid-template-rows: 10vh 10vh auto;
}
.index-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #343740;
}
.index-top__items {
  display: flex;
  justify-content: space-between;
}
.index-data-table {
  height: 100%;
}
</style>
