<template>
  <div class="main">
    <pre>{{total}}</pre>
    <div class="main-top__item">
      <h2 class="main-title">Все заказы</h2>
      <div class="main-filter__items">
        <DataPicker></DataPicker>
        <DataPicker></DataPicker>
        <Select />
        <Select />
        <Select />
        <el-button size="large">Default</el-button>
      </div>
      <div class="main-card__items">
        <el-card
          shadow=""
          v-for="n in 3"
          :key="n"
          style="display: flex; justify-content: center"
        >
          <p style="width: 100%; text-align: center">
            Доля Client Pony Gold <br />
            за выбранный период:
          </p>
          <h3 style="text-align: center; font-size: 20px; color: #00b453">
            123 400 000 сум
          </h3>
        </el-card>
      </div>
    </div>
    <div class="main-data-table">
      <div class="main-search__item">
        <SearchInput />
      </div>
      <el-table size="large" :data="order" style="width: 100%; height: 35vh">
        <el-table-column prop="id" label="Заказ" width="180" />
        <el-table-column prop="cash_type" label="Тип заказа" width="180" />
        <el-table-column prop="id" label="Способ оплаты" width="180" />
        <el-table-column prop="sum" label="Сумма" width="180" />
        <el-table-column prop="id" label="Доля Client Pony Gold" width="180" />
        <el-table-column prop="id" label="Доля партнера" width="180" />
        <el-table-column prop="id" label="Доставка" width="180" />
      </el-table>
      <el-pagination
        background
        layout="prev, pager, next"
        :total="total"
      >
      </el-pagination>
    </div>
  </div>
</template>

<script setup lang="ts">
import {computed, onMounted, ref} from "vue";
import DataPicker from "@/components/DataPicker.vue";
import Select from "@/components/Select.vue";
import SearchInput from "@/components/SearchInput.vue";
import { useStore } from "@/stores";
const store = useStore();
//interface
interface User {
  date: string;
  name: string;
  address: string;
}
//event
const params = ref({
  page: 1,
});
const total = ref(null)

//fetch
store.fetchAction(`/order`, "order", params.value);
store.fetchActionWithoutParams(`/order`, "orderPage")
//computed
const order = computed(() => store.data?.order?.data)

//methods
const pagenation = () => {
  total.value =  store.data?.orderPage?.meta?.last_page

}
//onMounted
onMounted(() => {
 pagenation()
})
</script>

<style scoped>
.main {
  display: grid;
  align-content: space-between;
  height: 100%;
}
.main-top__item {
  height: 45vh;
}
.main-title {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: #343740;
}
.main-filter__items {
  margin-top: 20px;
  align-items: flex-end;
  display: grid;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  overflow: hidden;
}
.main-card__items {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
}
.main-search__item {
  margin-bottom: 25px;
  width: 30%;
}
.main-data-table {
  height: 50vh;
}
.filter-data-picker__item {
  width: 13%;
}
</style>
