<template>
  <div class="block">
    <p class="demonstration">Default</p>
    <el-date-picker
      style="width: 100%"
      size="large"
      v-model="value"
      type="date"
      placeholder="Pick a day"
    />
  </div>
</template>
<script lang="ts" setup>
import { ref } from "vue";

const value = ref("");
</script>
<style scoped>
.block {
  display: block;
}
p {
  font-style: normal;
  font-size: 14px;
  color: #091932;
}
</style>
