<template>
  <el-input
    v-model="input"
    class="w-50 h-100 m-2"
    size="large"
    placeholder="Please Input"
    :suffix-icon="Search"
  />
</template>
<script lang="ts" setup>
import { ref } from "vue";
import { Search } from "@element-plus/icons-vue";
</script>
