<template>
  <div>
    <RouterView v-slot="{ Component }">
      <div :name="route.meta.transition || 'layout'" mode="out-in">
        <div :key="route.name">
          <component :is="detectLayout">
            <Component :is="Component" />
          </component>
        </div>
      </div>
    </RouterView>
  </div>
</template>

<script lang="ts" setup>
import { computed } from "vue";
import { useRoute } from "vue-router";

import LDefault from "@/layouts/LDefault.vue";
import LEmpty from "@/layouts/LEmpty.vue";
import LLogin from "@/layouts/LLogin.vue"

const layouts: { [key: string]: any } = {
  default: LDefault,
  empty: LEmpty,
  login: LLogin
};

const route = useRoute();

const detectLayout = computed(() => {
  return layouts[route.meta.layout || ("default" as any)];
});
</script>

<style>
a,
button {
  cursor: pointer;
}
</style>
