<template>
  <div class="common-layout">
    <el-container class="wrapper">
      <el-aside class="el-aside">
        <LAside />
      </el-aside>
      <el-main class="main" >
        <transition name="routerChange">
          <slot :key="route.params" />
        </transition>
      </el-main>
    </el-container>
  </div>
</template>

<script setup lang="ts">
import { useRoute } from "vue-router";
import LAside from "@/layout/LAside.vue";
const route = useRoute();
</script>

<style scoped></style>
<style scoped>
.wrapper {
  height: 100vh;
}
.el-aside {
  width: 16%;
  height: 100vh;
  background: #343740;
}
.main {
  height: 100vh;
  background-color: #F6F7F9;
}
</style>
