<template>
  <div class="index">
    <transition name="routerChange">
      <slot :key="route.params" />
    </transition>
  </div>
</template>
<script setup lang="ts">
import { useRoute } from "vue-router";
const route = useRoute();
</script>
<style scoped>
.index {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
</style>