<template>
  <div class="index">
    <h3 class="index-title">Пользователи</h3>
    <div style="width: 30%; margin-top: 25px">
      <SearchInput />
    </div>
    <div class="index-collapse">
      <el-collapse v-model="activeName" accordion>
        <el-collapse-item
            title="Телефон: +998 98 888 88 90 ID: 123 454"
            name="1"
        >
          <div
              style="
              padding: 20px;
              display: grid;
              grid-template-columns: auto 40%;
            "
          >
            <div
                style="
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 30px;
              "
            >
              <div>
                <p>Оформлено заказов на сумму: 444 444 444сум</p>
                <p>Текущее кол - во PG: 444 444 444сум</p>
                <p>Текущее кол - во купонов: 444 444 444сум</p>
              </div>
              <div>
                <p>Общее кол - во выигранных купонов: 444 444 444сум</p>
                <p>Выигрыш за все время: 444 444 444сум</p>
              </div>
            </div>
            <div
                style="
                display: flex;

                gap: 12px;
                align-items: flex-end;
                justify-content: flex-end;
              "
            >
              <a
                  href="#"
                  style="
                  display: flex;
                  align-items: center;
                  align-items: center;
                  text-decoration: none;
                  font-size: 16px;
                  color: #3d7bfe;
                "
              >История заказов<svg
                  width="14"
                  height="14"
                  viewBox="0 0 14 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M4.63119 1.43148C4.46715 1.59557 4.375 1.81809 4.375 2.0501C4.375 2.28212 4.46715 2.50464 4.63119 2.66873L8.96244 6.99997L4.63119 11.3312C4.4718 11.4962 4.3836 11.7173 4.3856 11.9467C4.38759 12.1761 4.47961 12.3956 4.64185 12.5578C4.80408 12.72 5.02354 12.8121 5.25296 12.814C5.48238 12.816 5.70341 12.7278 5.86844 12.5685L10.8183 7.61859C10.9824 7.45451 11.0745 7.23199 11.0745 6.99997C11.0745 6.76795 10.9824 6.54543 10.8183 6.38135L5.86844 1.43148C5.70435 1.26744 5.48183 1.17529 5.24981 1.17529C5.01779 1.17529 4.79528 1.26744 4.63119 1.43148Z"
                    fill="#3D7BFE"
                />
              </svg>
              </a>
              <a
                  href="#"
                  style="font-size: 16px; color: red; text-decoration: none"
              >Заблокировать</a
              >
              <el-button style="background: red; color: white">
                <i class="fa-sharp fa-solid fa-minus"></i>
              </el-button>
            </div>
          </div>
        </el-collapse-item>
        <el-collapse-item
            title="Телефон: +998 98 888 88 90 ID: 123 454"
            name="2"
        >
          <div
              style="
              padding: 20px;
              display: grid;
              grid-template-columns: auto 40%;
            "
          >
            <div
                style="
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 30px;
              "
            >
              <div>
                <p>Оформлено заказов на сумму: 444 444 444сум</p>
                <p>Текущее кол - во PG: 444 444 444сум</p>
                <p>Текущее кол - во купонов: 444 444 444сум</p>
              </div>
              <div>
                <p>Общее кол - во выигранных купонов: 444 444 444сум</p>
                <p>Выигрыш за все время: 444 444 444сум</p>
              </div>
            </div>
            <div
                style="
                display: flex;

                gap: 12px;
                align-items: flex-end;
                justify-content: flex-end;
              "
            >
              <a
                  href="#"
                  style="
                  display: flex;
                  align-items: center;
                  align-items: center;
                  text-decoration: none;
                  font-size: 16px;
                  color: #3d7bfe;
                "
              >История заказов<svg
                  width="14"
                  height="14"
                  viewBox="0 0 14 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M4.63119 1.43148C4.46715 1.59557 4.375 1.81809 4.375 2.0501C4.375 2.28212 4.46715 2.50464 4.63119 2.66873L8.96244 6.99997L4.63119 11.3312C4.4718 11.4962 4.3836 11.7173 4.3856 11.9467C4.38759 12.1761 4.47961 12.3956 4.64185 12.5578C4.80408 12.72 5.02354 12.8121 5.25296 12.814C5.48238 12.816 5.70341 12.7278 5.86844 12.5685L10.8183 7.61859C10.9824 7.45451 11.0745 7.23199 11.0745 6.99997C11.0745 6.76795 10.9824 6.54543 10.8183 6.38135L5.86844 1.43148C5.70435 1.26744 5.48183 1.17529 5.24981 1.17529C5.01779 1.17529 4.79528 1.26744 4.63119 1.43148Z"
                    fill="#3D7BFE"
                />
              </svg>
              </a>
              <a
                  href="#"
                  style="font-size: 16px; color: red; text-decoration: none"
              >Заблокировать</a
              >
              <el-button style="background: red; color: white">
                <i class="fa-sharp fa-solid fa-minus"></i>
              </el-button>
            </div>
          </div>
        </el-collapse-item>
        <el-collapse-item
            title="Телефон: +998 98 888 88 90 ID: 123 454"
            name="3"
        >
          <div
              style="
              padding: 20px;
              display: grid;
              grid-template-columns: auto 40%;
            "
          >
            <div
                style="
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 30px;
              "
            >
              <div>
                <p>Оформлено заказов на сумму: 444 444 444сум</p>
                <p>Текущее кол - во PG: 444 444 444сум</p>
                <p>Текущее кол - во купонов: 444 444 444сум</p>
              </div>
              <div>
                <p>Общее кол - во выигранных купонов: 444 444 444сум</p>
                <p>Выигрыш за все время: 444 444 444сум</p>
              </div>
            </div>
            <div
                style="
                display: flex;

                gap: 12px;
                align-items: flex-end;
                justify-content: flex-end;
              "
            >
              <a
                  href="#"
                  style="
                  display: flex;
                  align-items: center;
                  align-items: center;
                  text-decoration: none;
                  font-size: 16px;
                  color: #3d7bfe;
                "
              >История заказов<svg
                  width="14"
                  height="14"
                  viewBox="0 0 14 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M4.63119 1.43148C4.46715 1.59557 4.375 1.81809 4.375 2.0501C4.375 2.28212 4.46715 2.50464 4.63119 2.66873L8.96244 6.99997L4.63119 11.3312C4.4718 11.4962 4.3836 11.7173 4.3856 11.9467C4.38759 12.1761 4.47961 12.3956 4.64185 12.5578C4.80408 12.72 5.02354 12.8121 5.25296 12.814C5.48238 12.816 5.70341 12.7278 5.86844 12.5685L10.8183 7.61859C10.9824 7.45451 11.0745 7.23199 11.0745 6.99997C11.0745 6.76795 10.9824 6.54543 10.8183 6.38135L5.86844 1.43148C5.70435 1.26744 5.48183 1.17529 5.24981 1.17529C5.01779 1.17529 4.79528 1.26744 4.63119 1.43148Z"
                    fill="#3D7BFE"
                />
              </svg>
              </a>
              <a
                  href="#"
                  style="font-size: 16px; color: red; text-decoration: none"
              >Заблокировать</a
              >
              <el-button style="background: red; color: white">
                <i class="fa-sharp fa-solid fa-minus"></i>
              </el-button>
            </div>
          </div>
        </el-collapse-item>
        <el-collapse-item
            title="Телефон: +998 98 888 88 90 ID: 123 454"
            name="4"
        >
          <div
              style="
              padding: 20px;
              display: grid;
              grid-template-columns: auto 40%;
            "
          >
            <div
                style="
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 30px;
              "
            >
              <div>
                <p>Оформлено заказов на сумму: 444 444 444сум</p>
                <p>Текущее кол - во PG: 444 444 444сум</p>
                <p>Текущее кол - во купонов: 444 444 444сум</p>
              </div>
              <div>
                <p>Общее кол - во выигранных купонов: 444 444 444сум</p>
                <p>Выигрыш за все время: 444 444 444сум</p>
              </div>
            </div>
            <div
                style="
                display: flex;

                gap: 12px;
                align-items: flex-end;
                justify-content: flex-end;
              "
            >
              <a
                  href="#"
                  style="
                  display: flex;
                  align-items: center;
                  align-items: center;
                  text-decoration: none;
                  font-size: 16px;
                  color: #3d7bfe;
                "
              >История заказов<svg
                  width="14"
                  height="14"
                  viewBox="0 0 14 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
              >
                <path
                    d="M4.63119 1.43148C4.46715 1.59557 4.375 1.81809 4.375 2.0501C4.375 2.28212 4.46715 2.50464 4.63119 2.66873L8.96244 6.99997L4.63119 11.3312C4.4718 11.4962 4.3836 11.7173 4.3856 11.9467C4.38759 12.1761 4.47961 12.3956 4.64185 12.5578C4.80408 12.72 5.02354 12.8121 5.25296 12.814C5.48238 12.816 5.70341 12.7278 5.86844 12.5685L10.8183 7.61859C10.9824 7.45451 11.0745 7.23199 11.0745 6.99997C11.0745 6.76795 10.9824 6.54543 10.8183 6.38135L5.86844 1.43148C5.70435 1.26744 5.48183 1.17529 5.24981 1.17529C5.01779 1.17529 4.79528 1.26744 4.63119 1.43148Z"
                    fill="#3D7BFE"
                />
              </svg>
              </a>
              <a
                  href="#"
                  style="font-size: 16px; color: red; text-decoration: none"
              >Заблокировать</a
              >
              <el-button style="background: red; color: white">
                <i class="fa-sharp fa-solid fa-minus"></i>
              </el-button>
            </div>
          </div>
        </el-collapse-item>
      </el-collapse>
    </div>
  </div>
</template>
<script setup lang="ts">
import SearchInput from "@/components/SearchInput.vue";
</script>
<style scoped>
.index-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  color: #343740;
}
.index-collapse {
  margin-top: 20px;
  width: 80%;
}
</style>
<style>
.el-collapse-item__header {
  padding-left: 20px !important;
  font-size: 16px;
}
</style>
