<template>
  <div>
    <h3
      style="
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 135%;
        text-align: center;
        letter-spacing: -0.165px;
        color: #091932;
      "
    >
      Войти
    </h3>
    <el-form
      size="large"
      label-position="top"
      style="width: 640px"
    >
      <el-form-item label="Логин">
        <el-input v-model="modelRef.login" type="text" />
      </el-form-item>
      <el-form-item label="Пароль">
        <el-input v-model="modelRef .password" type="password" />
      </el-form-item>
      <el-form-item>
        <el-button
          style="width: 100%; background: #3d7bfe"
          type="primary"
          @click="submitForm"
          >Войти</el-button
        >
      </el-form-item>
    </el-form>
  </div>
</template>
<script lang="ts" setup>

import { ref} from "vue";
import {useStore} from "@/stores";
import router from "@/router";
const store = useStore()
interface ModelType {
  login: string,
  password: string
}
const modelRef = ref<ModelType>({
  login: '',
  password: ''
})

const submitForm = () => {
  store.postAction('/login', modelRef.value).then( (res) => {
    if (res) {
      router.push('/')
    }
  })
}


</script>
<style scoped></style>
