<template>
  <div>
    <h3 class="header-text">Client Pony Gold</h3>
    <ul class="main-items">
      <router-link
        v-for="(item, i) in data"
        :key="i"
        :to="item.url"
        class="main-item"
      >
        <i :class="item.icon"></i>
        <span>{{ item.name }}</span>
      </router-link>
    </ul>
  </div>
</template>
<script lang="ts" setup>
import data from "@/data/aside";
</script>
<style scoped>
.header-text {
  color: white;
  font-size: 20px;
  padding: 20px;
}
.main-items {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  margin: 0 !important;
}
.main-item {
  display: flex;
  padding: 15px 20px;
  gap: 10px;
  width: 100%;
  align-items: center;
  color: white;
  font-size: 16px;
  border-bottom: 1px solid #686e7a;
  text-decoration: none;
}
.main-item:hover {
  background: linear-gradient(93.37deg, #6698ff 2.36%, #3576fe 109.38%);
}
</style>
